body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

/* Header Styles */
header {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #333;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    font-size: 24px;
    text-decoration: underline;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #ff0000;
}

/* Main Content Styles */
main {
    padding: 50px;
    text-align: center;
}

main h1 {
    font-size: 48px;
    margin-top: 20px;
}

/* Main Image Styles */
.main-image {
    width: 100%; 
    max-width: 700px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

/* Text Styles */
.image-text {
    font-size: 24px; 
    font-weight: bold;
    color: #333; 
}

/* Footer Styles */
footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Change from fixed to relative */
    bottom: 0;
    width: 100%;
}

/* Gallery Styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Fixed 3 columns */
    gap: 10px; /* Adds space between items */
    padding: 10px;
}

.artwork {
    background-color: #fff;
    width: 300px;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

.artwork img {
    width: 100%;
    height: auto;
}

.artwork-info h2 {
    font-size: 20px;
    margin: 10px 0;
}

.artwork-info p {
    font-size: 16px;
    color: #337af6;
}

/* Lightbox Styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #ccc;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #fff;
    padding: 5px 0;
    font-size: 18px;
}

/* Contact Page Styles */
.contact-container {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    gap: 15px; 
    margin-top: 20px; 
}

.contact-container div {
    width: 100%; 
    text-align: center; 
    font-size: 24px;
    line-height: 1.5; 
    display: block; 
}

.contact-info p {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    padding-bottom: 50px;  
}

/* Contact Image Styles */
.contact-image {
    width: 100%; 
    max-width: 600px; 
    height: auto; 
    display: block; 
    margin: 20px auto; 
}

.instagram-handle {
    color: rgb(8, 24, 196);
}

/* Center the ticket options and button under the calendar */
.ticket-options {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 20px; 
}

/* Style the Purchase button */
.purchase-button {
    margin-top: 15px;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    width: fit-content; 
    text-align: center;
}
